<div class="container">
  <fa-icon [icon]="faPiggyBank"></fa-icon>
  <p>Add Piggy Bank</p>
</div>

<div class="flex">
  <ng-container *ngFor="let piggyBank of piggyBanks$ | async">
    <div class="piggy-bank" type="button" (click)="getPiggyBank(piggyBank.id); sidenav.opened = true">
      <fa-icon [icon]="faPiggyBank"></fa-icon>
      <span>{{piggyBank.goal}}</span>
      <span>{{piggyBank.savings}} / {{piggyBank.goalAmount}}</span>
      <mat-progress-bar mode="determinate"
                        [value]="piggyBank.savings / piggyBank.goalAmount * 100">
      </mat-progress-bar>
    </div>
  </ng-container>
</div>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [opened]="false"
    mode="over"
    class="details-sidenav"
    fixedInViewport="fixed"
    fixedTopGap="110"
    fixedBottomGap="155"
    position="end"
  >
    <ng-container *ngIf="piggyBank">
      <ui-details [title]="'Piggy Bank'" [detailsInfo]="piggyBank"
                  [detailsForm]="piggyBankForm"
                  (save)="updatePiggyBank(piggyBank.id, piggyBank)"
                  (delete)="deletePiggyBank(piggyBank.id); piggyBank = null; sidenav.opened = false;"
                  (close)="sidenav.toggle()"></ui-details>
    </ng-container>
  </mat-sidenav>
</mat-sidenav-container>
