@use "../../shared/styles/palette" as var_1;

.header {
  background: var_1.$btn-primary;
  display: flex;
  padding: 1rem;
  color: var_1.$white;

  &__logo {
    font-size: 2rem;
    text-align: center;
    align-self: center;
    width: 100%;
  }

  &__logout {
    align-self: center;

    a {
      color: var_1.$white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
