@use "../../../../shared/styles/palette.scss" as var_1;

.container {
  display: flex;
  border-radius: 10px;
  margin-left: 20px;

  button {
    border-radius: 10px;
    padding: 0;

    .account {
      display: grid;
      grid-template-columns: 1fr 2.5fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "currency title"
                       "currency amount";
      column-gap: 1rem;
      align-items: center;
      font-size: 1.1rem;
      padding: 5px;
      border-radius: 10px 0 0 10px;
      width: 154px;
      background-color: rgba(186, 226, 230, 0.5);

      &__title {
        color: #0F1419;
        grid-area: title;
        justify-self: start;
      }

      &__amount {
        color: #64737F;
        grid-area: amount;
        justify-self: start;
      }

      &__currency {
        font-size: 1.4rem;
        color: #28B820;
        background-color: var_1.$white;
        grid-area: currency;
        border-radius: 50%;
        padding: 0.1rem 0;
      }
    }
  }

  .account__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82px;
    width: 3rem;
    border-radius: 0 10px 10px 0;
    background-color: rgba(186, 226, 230, 0.5);
    cursor: pointer;

    fa-icon {
      font-size: 1.3rem;
    }
  }
}

::ng-deep.mat-menu-panel {
  border-radius: 10px;
  padding: 0;
  margin: 0;

  .mat-menu-content {
    :hover {
      background-color: #fff;
    }
  }

  .account {
    background-color: #DCF0F2 !important;
    border-radius: 0 !important;
    height: 105px;
    width: 215px;
    text-align: center;

    &:hover {
      background-color: #fff !important;
    }

    &__title {
      color: #0F1419;
      font-size: 1.2rem;
      display: block;
    }

    &__amount {
      color: #64737F;
      font-weight: 500;
    }

    &__currency {
      font-weight: 500;
      color: #64737F;
    }

  }

  button {
    height: fit-content;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #64737F;
    border-radius: 0;

    &:last-child {
      max-height: 50px;
      border-bottom: none;
    }

    .account__add {
      display: flex;
      justify-content: center;
      gap: 0.5rem;

      fa-icon {
        font-size: 1.3rem;
        color: #64737F;
      }
    }
  }

}

