<div class="container">
  <button mat-button [matMenuTriggerFor]="account">
    <div class="account" *ngIf="activeAccount | async as acc">
      <span class="account__title">{{acc.title}} </span>
      <span class="account__amount">{{acc.availableAmount}}</span>
      <span class="account__currency">$</span>
    </div>
  </button>
  <div class="account__icon" (click)="sidenav.toggle()">
    <fa-icon [icon]="faDetails"></fa-icon>
  </div>
</div>
<mat-menu #account="matMenu">
  <ng-container *ngFor="let account of accounts$ | async">
    <button mat-menu-item (click)="accountSelect(account)">
      <div class="account">
        <span class="account__title">{{account.title}} </span>
        <span class="account__amount">{{account.availableAmount}}</span>
        <span class="account__currency">$</span>
      </div>
    </button>
  </ng-container>
  <button mat-menu-item>
    <div class="account__add">
      <fa-icon [icon]="faAdd"></fa-icon>
      <span>Add account</span>
    </div>
  </button>
</mat-menu>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [opened]="false"
    mode="over"
    class="details-sidenav"
    fixedInViewport="fixed"
    fixedTopGap="110"
    fixedBottomGap="155"
    position="end"
  >
    <ng-container *ngIf="activeAccount | async as acc">
      <ui-details [title]="'Account'" [detailsInfo]="acc"
                  [detailsForm]="accountForm"
                  (save)="updateAccount(acc.id, acc)"
                  (delete)="deleteAccount(acc.id); sidenav.opened = false"
                  (close)="sidenav.opened = false"></ui-details>
    </ng-container>
  </mat-sidenav>
</mat-sidenav-container>
