<div *ngIf="loading | async" class="loading-container flex-content-center">
  <mat-progress-spinner [diameter]="30"
                        color="accent"
                        mode="indeterminate">
  </mat-progress-spinner>
</div>
<div class="layout">
  <app-search class="layout__search"></app-search>
  <app-header class="layout__header"></app-header>
  <app-sidebar class="layout__sidebar"></app-sidebar>
  <app-piggy-bank class="layout__piggy-bank"></app-piggy-bank>
  <div class="layout__outlet">
    <router-outlet></router-outlet>
  </div>
</div>

