.loading-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;

  &.flex-content-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.layout {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 64px 1fr 64px;
  grid-template-areas:
    "header header right-sidebar"
    "sidebar content right-sidebar"
    "sidebar content right-sidebar";
  margin: 0 auto;
  column-gap: 10%;
  row-gap: 20px;

  &__header {
    grid-area: header;
  }

  &__sidebar {
    grid-area: sidebar;
    margin-top: 15px;
  }

  &__outlet {
    grid-area: content;
    margin-top: 30px;
    width: 90%;
    justify-self: center;

  }

  &__piggy-bank {
    grid-area: right-sidebar;
    align-self: flex-end;
    position: fixed;
    right: 203px;
    bottom: 40px;
  }

}
