<ng-container *ngIf="currentView=='details'; else edit">
  <div class="details-sidebar">
    <div class="details-sidebar__header">
      <h1>{{title}} Information</h1>
      <fa-icon [icon]="faEdit" (click)="goToEdit()"></fa-icon>
      <fa-icon [icon]="faClose" (click)="close.emit()"></fa-icon>
    </div>
    <ng-container *ngIf="detailsInfo">
      <div class="container">
        <div class="flex flex--row">
          <div class="type">
            <ng-container *ngIf="icon">
              <span *ngIf="detailsInfo.type==='expenses'" class="icon-expenses"><fa-icon [icon]="icon"></fa-icon></span>
              <span *ngIf="detailsInfo.type==='incomes'" class="icon-incomes"><fa-icon [icon]="icon"></fa-icon></span>
            </ng-container>
            <span *ngIf="detailsInfo.type">{{detailsInfo.type}}</span>
          </div>
          <div class="balance">
            <span *ngIf="detailsInfo.currency"
                  [ngClass]="detailsInfo.type==='incomes'? 'amount-incomes' : 'amount-expenses'"
                  [ngClass]="detailsInfo.availableAmount ? 'amount-incomes': 'amount-expenses'"
            >{{detailsInfo.currency}}
            </span>
            <span *ngIf="detailsInfo.amount"
                  [ngClass]="detailsInfo.type==='incomes'? 'amount-incomes' : 'amount-expenses'">{{detailsInfo.amount}}
            </span>
            <span *ngIf="detailsInfo.availableAmount"
                  class="amount-incomes">{{detailsInfo.availableAmount}}
            </span>
          </div>
        </div>
        <h2 *ngIf="detailsInfo.title">{{detailsInfo.title}}</h2>
        <div class="flex flex--row">
          <ng-container *ngFor="let category of detailsInfo.category">
            <p class="category" *ngIf="category">{{category.title}}</p>
          </ng-container>
        </div>
        <div class="flex flex--col ">
          <p *ngIf="detailsInfo.dateOfPayment">
            <span>Payment Date: </span>{{detailsInfo.dateOfPayment | date: 'mm/dd/yyyy'}}</p>
          <p *ngIf="detailsInfo.dateOfOperation">
            <span>Payment Date: </span>{{detailsInfo.dateOfOperation | date: 'mm/dd/yyyy'}}</p>
          <p *ngIf="detailsInfo.firstDateOfPayment || detailsInfo.lastDateOfPayment">
            <span>Payment Dates: </span>{{detailsInfo.firstDateOfPayment | date: 'mm/dd/yyyy'}}
            - {{detailsInfo.lastDateOfPayment | date: 'mm/dd/yyyy'}}
          </p>
          <p *ngIf="detailsInfo.goal"><span>Goal: </span>{{detailsInfo.goal}}</p>
          <p *ngIf="detailsInfo.linkToFile">{{detailsInfo.linkToFile}}</p>
          <p *ngIf="detailsInfo.savings"><span>Saved Amount: </span>{{detailsInfo.savings}}</p>
          <p *ngIf="detailsInfo.goalAmount"><span>Goal Amount: </span>{{detailsInfo.goalAmount}}</p>
          <p *ngIf="detailsInfo.description"><span>Description: </span>{{detailsInfo.description}}</p>
          <p *ngIf="detailsInfo.availableAmount"><span>Available Amount: </span>{{detailsInfo.availableAmount}}</p>
        </div>
      </div>
    </ng-container>
    <div class="details-sidebar__footer">
      <button mat-flat-button color="warn" (click)="delete.emit()">{{btnText}}</button>
    </div>
  </div>
</ng-container>


<ng-template #edit>
  <div class="details-sidebar">
    <div class="details-sidebar__header">
      <h1>{{title}}</h1>
      <fa-icon (click)="close.emit()" [icon]="faClose"></fa-icon>
    </div>
    <form class="details-sidebar__form"
          [formGroup]="detailsForm">
      <mat-form-field *ngIf="detailsForm.get('type')">
        <mat-label>Type</mat-label>
        <input matInput name="type" formControlName="type">
      </mat-form-field>
      <mat-form-field *ngIf="detailsForm.get('title')">
        <mat-label>Title</mat-label>
        <input matInput name="title" formControlName="title">
      </mat-form-field>
      <mat-form-field *ngIf="detailsForm.get('goal')">
        <mat-label>Goal</mat-label>
        <input matInput name="goal" formControlName="goal">
      </mat-form-field>
      <mat-form-field *ngIf="detailsForm.get('goalAmount')">
        <mat-label>Goal Amount</mat-label>
        <input matInput name="goalAmount" formControlName="goalAmount">
      </mat-form-field>
      <mat-form-field *ngIf="detailsForm.get('description')">
        <mat-label>Description</mat-label>
        <textarea matInput name="description" formControlName="description"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
      <mat-form-field *ngIf="detailsForm.get('category')">
        <mat-label>Category</mat-label>
        <input matInput name="category" formControlName="category">
      </mat-form-field>
      <mat-form-field *ngIf="detailsForm.get('currency')">
        <mat-label>Currency</mat-label>
        <input matInput name="currency" formControlName="currency">
      </mat-form-field>
      <mat-form-field *ngIf="detailsForm.get('amount')">
        <mat-label>Amount</mat-label>
        <input matInput name="amount" formControlName="amount">
      </mat-form-field>
      <mat-form-field *ngIf="detailsForm.get('frequency')">
        <mat-label>Frequency</mat-label>
        <input matInput name="frequency" formControlName="frequency">
      </mat-form-field>
      <mat-form-field *ngIf="detailsForm.get('linkToFile')">
        <mat-label>Link to file</mat-label>
        <input matInput name="linkToFile" formControlName="linkToFile">
      </mat-form-field>
      <mat-form-field *ngIf="detailsForm.get('dateOfOperation')">
        <mat-label>Date of operation</mat-label>
        <input matInput name="dateOfOperation" formControlName="dateOfOperation">
      </mat-form-field>
      <mat-form-field *ngIf="detailsForm.get('dateOfCreation')">
        <mat-label>Date of creation</mat-label>
        <input matInput name="dateOfCreation" formControlName="dateOfCreation">
      </mat-form-field>
      <mat-form-field *ngIf="detailsForm.get('dateOfUpdate')">
        <mat-label>Date of update</mat-label>
        <input matInput name="dateOfUpdate" formControlName="dateOfUpdate">
      </mat-form-field>
      <mat-form-field *ngIf="detailsForm.get('firstDateOfPayment')">
        <mat-label>First day of payment</mat-label>
        <input matInput name="firstDateOfPayment"
               formControlName="firstDateOfPayment">
      </mat-form-field>
      <mat-form-field *ngIf="detailsForm.get('lastDateOfPayment')">
        <mat-label>Last day of payment</mat-label>
        <input matInput name="lastDateOfPayment"
               formControlName="lastDateOfPayment">
      </mat-form-field>
      <mat-form-field *ngIf="detailsForm.get('dateOfPayment')">
        <mat-label>Day of payment</mat-label>
        <input matInput name="dateOfPayment" formControlName="dateOfPayment">
      </mat-form-field>
    </form>
    <div class="details-sidebar__footer">
      <button mat-raised-button color="primary" (click)="goToDetails()">Cancel</button>
      <button mat-raised-button color="primary" (click)="save.emit(); goToDetails();">Save</button>
    </div>
  </div>
</ng-template>

