<div class="container">
  <ng-container *ngFor="let category of categories | async">
    <div
      [class]="category.type == 'incomes'?'category-list category-list--border-green':'category-list category-list--border-red'"
      type="button">
      <span class="category-list__title">{{category.title}}</span>
      <div class="category-list__icon">
        <span class="category-list__icon-edit" (click)="sidenav.opened=true"><fa-icon [icon]="faEdit"></fa-icon> </span>
        <span class="category-list__icon-delete" (click)="delete()"><fa-icon [icon]="faXMark"></fa-icon></span>
      </div>
    </div>
  </ng-container>
</div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [opened]="false"
    mode="over"
    class="details-sidenav"
    fixedInViewport="fixed"
    fixedTopGap="110"
    fixedBottomGap="155"
    position="end"
  >
    <ng-container *ngIf="categories">
      <div class="content">
        <h1>Add category</h1>
        <form [formGroup]="categoryForm">
          <div class="category-type">
            <div type="button" class="category-type__incomes">
              <fa-icon class="category-type__incomes--green" [icon]="faIncome"></fa-icon>
              Incomes
            </div>
            <div type="button" class="category-type__expenses">
              <fa-icon class="category-type__expenses--red" [icon]="faExpense"></fa-icon>
              Expenses
            </div>
          </div>
          <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput name="type" formControlName="title">
          </mat-form-field>
        </form>
        <button mat-button (click)="sidenav.opened=false">Cancel</button>
        <button mat-raised-button class="save">Save</button>
      </div>
    </ng-container>
  </mat-sidenav>
</mat-sidenav-container>
