@use "../../../shared/styles/palette.scss" as var_1;

.app-header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "logo search profile";
  width:100%;
  min-height: 74px;
  position: fixed;
  z-index: 2;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(117, 131, 141, 0.19);

  &__logo {
    padding: 9px 20px;
    grid-area: logo;

    a {
      img {
        width: 50px;
        ratio: 1;


        &:hover {
          box-shadow: -7px -5px 10px -10px var_1.$logo-red, 7px -5px 10px -9px var_1.$logo-orange, 0px 8px 10px -7px var_1.$logo-green;
          border-radius: 50%;

        }

      }
    }

  }

  &__search {
    grid-area: search;
  }

  &__profile {
    grid-area: profile;
    justify-self: end;
    .btn-list {

      img {
        height: 2.5rem;
        ratio: 1;
        border-radius: 50%;
      }

      color: var_1.$btn-menu;
      display: flex;
      gap: 1rem;
      text-decoration: none;
      font-size: 1rem;
      border-radius: 10px;
      padding: 0.25rem 1rem;
      width: fit-content;


      &:hover {
        background: rgba(255, 255, 255, 0.25);

      }
    }
  }
}

