<div class="app-header">
  <div class="app-header__logo">
    <a [routerLink]="'/'">
      <img src="./assets/sm-logo.png" alt="logo">
    </a>
  </div>
  <app-search class="app-header__search"></app-search>
  <div class="app-header__profile">
    <button class="btn-list" mat-button [matMenuTriggerFor]="userAcc">
      <img src="{{profile.pfpUrl}}" alt="pfp">
      {{profile.name}}</button>
    <mat-menu #userAcc="matMenu">
      <button class="btn-list--item" mat-menu-item>{{profile.account.label}}</button>
      <button class="btn-list--item" mat-menu-item>{{profile.display.label}}</button>
      <button class="btn-list--item" mat-menu-item (click)="logout()">{{profile.logout}}</button>
    </mat-menu>
  </div>
</div>
