<div class="container">
  <nav class="menu">
    <div class="logo">
      <a [routerLink]="'/'">
        <img src="./assets/sm-logo.png" alt="logo">
      </a>
    </div>
    <ul class="menu__list">
      <li *ngFor="let menuItem of menu; let i = index; trackBy:trackBy" class="menu__list-item">
        <a [routerLink]="menuItem.route">
          <span class="menu__list-icon"><fa-icon [icon]="menuItem.icon"></fa-icon></span>
          <span>{{menuItem.title}}</span>
        </a>
      </li>
    </ul>
  </nav>
  <app-accounts></app-accounts>
</div>
