@use "../../../shared/styles/palette.scss" as var_1;

.container {
  height: 95vh;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;


  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    .logo {
      padding: 9px 12px;
      cursor: pointer;

      a {
        img {
          width: 50px;
          ratio: 1;


          &:hover {
            box-shadow: -7px -5px 10px 0px var_1.$logo-red, 7px -5px 10px 0px var_1.$logo-orange, 0px 8px 10px 0px var_1.$logo-green;
            border-radius: 50%;

          }
        }
      }

    }

    &__list {
      display: flex;
      flex-direction: column;
      list-style: none;

      &-icon {

      }

      &-item {

        a {
          display: flex;
          color: var_1.$btn-menu;
          gap: 1rem;
          text-decoration: none;
          font-size: 1.35rem;
          border-radius: 15px;
          padding: 1rem 1.5rem;
          width: fit-content;

          &:hover {
            //background-color: var_1.$btn-menu-hover;
            box-shadow: 0 5px 22px 0 rgba(31, 38, 135, 0.1);
          }

          &:active {
            color: var_1.$btn-menu;
          }
        }
      }
    }
  }

  .btn-list {
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
    background-color: var_1.$base-color;
    color: var_1.$bg-color;
    display: flex;
    gap: 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 15px;
    padding: 0.5rem 2rem;
    width: fit-content;

    &:hover {
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
    }
  }
}

