/* You can add global styles to this file, and also import other style files */
@use "./app/shared/styles/reset";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.details-sidenav {
  width: 500px;
  height: 85%;
  margin-right: 10px;
  background: rgba(224, 213, 255, 0.75);
  box-shadow: 0 8px 12px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(205, 233, 244, 0.18);
}

.icon-expenses {
  fa-icon {
    color: #DC1E29;
    font-size: 1.5rem;
  }
}

.icon-incomes {
  fa-icon {
    color: #28B80F;
    font-size: 1.5rem;
  }
}

.main-content {
  display: flex;
  flex-direction: column;

  .add-btn {
    align-self: flex-end;

    h1 {
      cursor: default;
      display: flex;
      background-color: #433C5F;
      align-items: center;
      justify-content: space-evenly;
      color: #fff;
      width: 180px;
      height: 40px;
      font-size: 1rem;
      border-radius: 15px 4px 15px 4px;
      position: fixed;
      right: 30px;
      z-index: 0;
      fa-icon {
        transition-duration: 0.7s;
      }

      &:hover {
        fa-icon {
          transform: rotate(45deg);
          transition-duration: 0.7s;

        }

        opacity: 0.93;
      }
    }
  }
}


.snackbar-success {
  background-color: #1AA103;
  color: #fff;

  .mat-simple-snackbar-action {
    color: #fff;
  }
}

.snackbar-error{
  background-color: #DC1E29;
  color: #fff;

  .mat-simple-snackbar-action {
    color: #fff;
  }
}

.snackbar-warn{
  background-color: #F7B217;
  color: #fff;

  .mat-simple-snackbar-action {
    color: #fff;
  }
}
