.container {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .details-sidenav {
    width: 500px;
    height: 600px;
    margin: 10px;
    background: rgba(205, 233, 244, 0.25);
    box-shadow: 0 8px 12px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    backdrop-filter: blur(2px);
    border: 1px solid rgba(205, 233, 244, 0.18);
  }
}

