<div class="container">
  <ng-container *ngFor="let subscription of subscriptions$ | async">
    <ui-card (click)="getSubscription(subscription.id);sidenav.opened = true" [card]="subscription"></ui-card>
  </ng-container>
</div>

<mat-sidenav-container class="container">
  <mat-sidenav
    #sidenav
    mode="over"
    class="details-sidenav"
    fixedInViewport="fixed"
    fixedTopGap="110"
    fixedBottomGap="155"
    position="end"
  >
    <ng-container *ngIf="subscription">
      <ui-details [title]="'Subscription'" [detailsInfo]="subscription"
                  [detailsForm]="subscriptionForm"
                  (save)="updateSubscription(subscription.id, subscription)"
                  (delete)="deleteSubscription(subscription.id); subscription = null; sidenav.opened = false"
                  (close)="sidenav.toggle()"></ui-details>
    </ng-container>
  </mat-sidenav>
</mat-sidenav-container>
